.addRefsDesktop {
    display: block;
    margin: 5px auto;
    filter: invert(13%) sepia(12%) saturate(3967%) hue-rotate(232deg) brightness(91%) contrast(111%);
}

.addRefsDesktop:hover {
    filter: invert(33%) sepia(24%) saturate(2289%) hue-rotate(258deg) brightness(94%) contrast(87%);
}
