input {
    text-align: center;
    margin: auto;

    width: 100%;
    padding-bottom: 6px;
    padding-top: 6px;

    font-weight: bold;
    font-family: Oswald;
    font-size: 130%;

    placeholder-color: #7c6084;
    border: 3px solid #7c6084;
    outline: none;
    background: white;

    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

input:hover {
    border-color: #9176cb;
    box-shadow: 0 0 13px rgba(0, 0, 0, 1);
}

input:focus {
    border-color: #240d3b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

input:after {
    content: "Try it on CodePen";
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    width: 13em;
    height: 2em;
    padding-left: 0.8em;
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
    /*background: #000 url(/images/codepen.svg) 11.6em 0.2em no-repeat;*/
    background-size: 1.6em;
    font-size: 0.8em;
    cursor: pointer;
}
