select {
    text-align: center;

    width: 103%;
    padding-bottom: 6px;
    padding-top: 6px;

    font-weight: bold;
    font-family: Oswald;
    font-size: 130%;

    placeholder-color: #7c6084;
    border: 3px solid #7c6084;
    outline: none;
    background: white;

    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

select:hover {
    border-color: #9176cb;
    box-shadow: 0 0 13px rgba(0, 0, 0, 1);
}

select:focus {
    border-color: #240d3b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
